<footer>
    <div class="foot-cont">
        <div class="box">
            <p>
                <span>카팅 주식회사</span>
                <span>대표 : 우정호</span>
            </p>
            <p>
                <span>통신판매번호 : 2021-경기화성-0000</span>
                <span>사업자등록번호 : 000-00-00000</span>
            </p>
            <p><span>경기도 화성시 효행로 1039번길 8-11</span></p>
        </div>
        <div class="box">
            <p><span>사업제휴문의 : partner@carting.com</span></p>
            <p><span>마케팅문의 : marketing@carting.com</span></p>
            <p>
                <span>고객센터 : help@carting.com</span>
                <span>0000-0000</span>
            </p>
        </div>
        <div class="box">
            <ul class="links">
                <li><a href="">이용약관</a></li>
                <li><a href="">개인정보처리방침</a></li>
                <li><a href="">IR</a></li>
            </ul>
            <ul class="sns">
                <li><a href="" class="sns01" target="_blank"><span class="blind">카팅 인스타그램</span></a></li>
                <li><a href="" class="sns02" target="_blank"><span class="blind">카팅 페이스북</span></a></li>
                <li><a href="" class="sns03" target="_blank"><span class="blind">카팅 네이버블로그</span></a></li>
                <li><a href="" class="sns04" target="_blank"><span class="blind">카팅 유튜브</span></a></li>
            </ul>
        </div>
    </div>
</footer>